@font-face {
    font-family: "AvenirRegular";
    src: url("../fonts/AvenirRegular.woff") format('woff');
}

@font-face {
    font-family: "AvenirThin";
    src: url("../fonts/AvenirThin.woff") format('woff');
}

@font-face {
    font-family: "AvenirDemi";
    src: url("../fonts/AvenirDemi.woff") format('woff');
}

body{
    font-family: 'AvenirRegular';
}

.avenir-thin {
    font-family: 'AvenirThin' !important;
}

.avenir-demi {
    font-family: 'AvenirDemi' !important;
}

.logo {
    height: 50px;
}

.wf_name {
    font-size: 34px;
    height: 56px;
    line-height: 56px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.aknt_fullname {
    line-height: 16px;
    font-size: 12px;
    /* border-left: solid #868686 2px;*/
    padding-left: 10px;
    height: 50px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

.text-aknt {
    color: #00a8cb !important;
}

.bg-aknt {
    background: #00a8cb !important;
    color: #fff !important;
}

.form-control, .btn {
    border-radius: 2px;
}

.fs_18 {
    font-size: 18px;
}

.prosAndCons .icon {
    float: left;
    display: inline-block;
    background-image: url(../images/goodBad.png);
    background-repeat: no-repeat;
    background-position: -45px 15px;
    margin: 5px 30px 0 20px;
    height: 55px;
    width: 45px;
}

.prosAndCons .pros .icon {
    background-position: 0 15px;
}

.prosAndCons .info {
    display: table-cell;
    width: 300px;
    margin-left: 10px;
    vertical-align: middle;
    height: 70px;
    font-size: 18px;
}

.card-columns_2 {
    column-count: 2;
}

.aknt_aside a{
    color: #212529;
    margin-left:7px;
}

.aknt_aside .active{
    color: #00a8cb !important;
    background: none!important;
    border-left: 7px #00a8cb solid;
    margin-left: 0;
}

.aknt_aside li a:hover{
    color: #00a8cb !important;
}

.aknt_nav{
    width:200px;
}

main{
    width: calc(100% - 220px);
}

.custom-file-label.is-invalid~.invalid-feedback{
    display: block;
}